video {
  width: 700px;
  height: 700px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inst {
  position: relative;
  top: -32px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2a4763;
  font-weight: bold;
}

.flash-text {
  animation: blinker 2s linear infinite;
  font-size: 36px;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.video-container {
  height: 530px;
  width: 530px;
  position: absolute;
  top: 320px;
  right: 17%;
  border: 5px solid #005eb8;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  border: 5px solid #01a6de;
  border-radius: 360px;
}

.thermo-video {
  height: 500px;
  width: 500px;
  position: relative;
  border-radius: 1900px;
}

#video-overlay {
  position: absolute;
  height: 350px;
  width: 350px;
  z-index: 9;
  top: -440px;
  /* transform: translateX(100px) translateY(100px); */
}

.start-btn {
  position: absolute;
  top: 920px;
  background: #005eb8;
  border: 1px solid #005eb8;
  border-radius: 13px;
  width: 240px;
  height: 74px;
  font-weight: bold;
  font-size: 24px;
  /* line-height: 39px; */
  color: #ffffff;
}
